@model MultiLayerApp.Areas.Admin.ViewModels.ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="phone-create p-4">
        <h2>@(Model.Product.Id!=0 ? "Edit" : "Create") Phone</h2>
        <form method="post" enctype="multipart/form-data">
            @if (Model.Product.Id != 0)
            {
                <input type="hidden" asp-for="Product.Id" />
            }
            <div class="formWrapper">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <label asp-for="Product.Name" class="form-label">Name</label>
                            </th>
                            <td>
                                <input type="text"
                                       class="form-control"
                                       asp-for="Product.Name" />

                                <span asp-validation-for="Product.Name"
                                      class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Image</th>
                            <td>
                                <input type="file"
                                       name="files"
                                       id="uploadBox"
                                       multiple
                                       class="form-control" />
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Category</th>
                            <td>
                                @Html.DropDownListFor(m => m.Product.CategoryId,
                                Model.CategoryList, "-Select a Category", new
                                     {
                                         @class =
                                "form-control"
                                     })
                                <span asp-validation-for="Product.CategoryId"
                                      class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <label asp-for="Product.Size" class="form-label">Size</label>
                            </th>
                            <td>
                                <input type="text"
                                       class="form-control"
                                       asp-for="Product.Size" />

                                <span asp-validation-for="Product.Size"
                                      class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <label asp-for="Product.Weight" class="form-label">Weight</label>
                            </th>
                            <td>
                                <input type="text"
                                       class="form-control"
                                       asp-for="Product.Weight" />

                                <span asp-validation-for="Product.Weight"
                                      class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <label asp-for="Product.DisplaySize" class="form-label">Display Size</label>
                            </th>
                            <td>
                                <input type="text"
                                       class="form-control"
                                       asp-for="Product.DisplaySize" /><span asp-validation-for="Product.DisplaySize"
                                                                             class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <label asp-for="Product.Processor" class="form-label">Processor</label>
                            </th>
                            <td>
                                <input type="text"
                                       class="form-control"
                                       asp-for="Product.Processor" />
                                <span asp-validation-for="Product.Processor"
                                      class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label asp-for="Product.Memory" class="form-label">Memory</label>
                            </th>
                            <td>
                                <input type="number"
                                       class="form-control"
                                       asp-for="Product.Memory"
                                       min="0" />

                                <span asp-validation-for="Product.Memory"
                                      class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <label asp-for="Product.OperatingSystem" class="form-label">Operating System</label>
                            </th>
                            <td>
                                <input asp-for="Product.OperatingSystem" class="form-control" />
                                <span asp-validation-for="Product.OperatingSystem"
                                      class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <label asp-for="Product.Price" class="form-label">Price</label>
                            </th>
                            <td>
                                <input asp-for="Product.Price" class="form-control" min="0" />
                                <span asp-validation-for="Product.Price"
                                      class="text-danger"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @if (Model.Product.Id != 0)
                {
                    <img src="@Model.Product.Photos" />
                }
            </div>
            <div style="display: flex; justify-content: space-around">
                <button type="submit"
                        class="btn btn-success"
                        style="display: flex; align-items: center">
                    <svg style="margin-right: 5px"
                         xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-plus-circle-fill"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                    @(Model.Product.Id != 0 ? "Edit" : "Add New") Phone
                </button>

                <a asp-action="Index" class="btn btn-danger">Back</a>
            </div>
        </form>
    </div>
</div>

@*@section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }*@
